body {
    font-family: "Poppins", sans-serif;
}

/* hero */
#bg {
    background-image: url("../images/bd.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top;
    height: 500px;
    margin-top: 70px;
    position: relative;
    z-index: 1;
    margin-top: 90px;
}

.bg-title {
    padding-top: 300px;
}

/* .bg-text { */
/* margin-top: 180px; */
/* } */

/* responsif layar kecil */
@media screen and (min-widht: 450px) {
    .bg-text {
        font-size: 35px;
        font-weight: 600;
    }
}
